html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #251E26;
}

* {
  box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
  color: white;
}
